<!-- Begin Blog-->
<section id="calls" class="blog">

<style>

.li{
    font-size: 115%;
}

#callli {
    font-size:18px;
}

}
</style>

    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1  text-left">

        <p>
            <!--li style="font-size: 115%"><a href="#t1">Papers with Oral Presentation</a></li>
            <li style="font-size: 115%"><a href="#t2">Papers with Poster Presentation</a></li-->

        <br id="t1" />
        <br/>
        
        <h5 ><b>Papers with Oral Presentation</b></h5>
        <li style="font-size: 115%"><b>Data-Driven Destination Recommender Systems</b><br/>
        &nbsp; &nbsp; Linus W. Dietz (Technical University of Munich, Germay)</li><br />

        <li style="font-size: 115%"><b>Recommendation of Activity Sequences during Distributed Events</b> <br /> &nbsp; &nbsp; Diana Nurbakova (INSA Lyon, France)</li><br />

        <li style="font-size: 115%"><b>Integrating Item Based Stereotypes in Recommender Systems</b><br/>    &nbsp; &nbsp; Nourah Alrossais (University of York, UK) and Daniel Kudenko (University of York)</li></li><br />

        <li style="font-size: 115%"><b>WikiRec: A Personalized Content Recommendation Framework to Support Informal Learning in Wikis</b><br/>   &nbsp; &nbsp; Heba Ismail (UAE University, United Arab Emirates)</li><br />

        <li style="font-size: 115%"><b>Towards Practical Link Prediction Approaches in Signed Social Networks</b><br/>  &nbsp; &nbsp; Xiaoming Li (Nanyang Technological University, Sigapore)</li><br />

        <li style="font-size: 115%"><b>Modeling Student Persistence in a Learning-By-Teaching Environment</b><br/>   &nbsp; &nbsp; Cristina Dumdumaya (University of Southeastern Philippines, Philippines)</li><br />

        <li style="font-size: 115%"><b>Regulating Collaborative Learning in SQL-Tutor</b><br/>   &nbsp; &nbsp; Ashish Sharma (University of Canterbury, NZ), Antonija Mitrovic  (University of Canterbury, NZ) and Valerie Sotardi  (University of Canterbury, NZ)</li><br />

        <li style="font-size: 115%"><b>Modeling Learners’ Interest with a Domain-Independent Ontology-Based Framework</b><br/> &nbsp; &nbsp; Dekita Moon (University of Florida, USA)</li><br />

        
        

        <br  id="t2"/>
        <br/>
        <h5 ><b>Papers with Poster Presentation</b></h5>
        
        <li style="font-size: 115%"><b>On the Influence of Human Factors in Adaptive User Interface DesignAre You Reaching Your Audience?: Exploring Item Exposure over Consumer Segments in Recommender Systems</b><br/>  &nbsp; &nbsp; Tilman Deuschel (University of Applied Sciences Darmstadt, Germany), Ted Scully (Cork Institute of Technology, Ireland) and Kawa Nazemi (University of Applied Sciences Darmstadt, Germany)</li><br />

        <li style="font-size: 115%"><b>Doctoral Consortium: Trust and Reputation Management in Autonomous Internet of Things</b><br/>   &nbsp; &nbsp; Leonit Zeynalvand (Nanyang Technological University, Singapore)</li><br />

        <li style="font-size: 115%"><b>SUM-IML: Dynamic Scrutable User Modeling utilizing Interactive Machine Learning</b><br/>    &nbsp; &nbsp; Dima Mahmoud (ADAPT Centre, Ireland) and Owen Conlan (ADAPT Centre, Ireland)</li><br />

        <li style="font-size: 115%"><b>Personalizing large scale data visualization and interaction</b><br/>   &nbsp; &nbsp; Somnath Arjun (Indian Institute of Science, India) and Pradipta Biswas (Indian Institute of Science, India) </li><br />

        
        </div>
    </div>



</section>
<!-- End Blog -->
