<!-- Venue Section -->
<section id="venue">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.venueBlockTitle }}</h3>
            <div class="col-lg-10 col-lg-offset-1  text-left">

                <h5><b>Route from Changi Airport to NTU</b></h5>
                <h6><b>Singapore Airport: Changi Airport</b></h6>
                <figure>
                    <p style="text-align:left;">Changi Airport is the No.1 Airport by Skytrax.<br/>
                    <img width="60%" src="{{ site.baseurl }}/img/venue/airport.jpg"/>
                    </p>
                </figure>
                <br/>

                <h6><b>Route from Airport to NTU by Public Transport</b></h6>
                <p>Take the EW line from Airport (CG2) to Tanah Merah Station (EW4),<br/>
                   take the EW line from Tanah Merah to Pioneer Station (EW29).<br/>
                   Then, take Bus 179 from Pioneer station to Lee Wee Nam Station.<br/>
                   Note: You can buy, top up and refund the MRT card (EZ-Link) at any MRT station. All public transports in Singapore will close at 11:30 p.m..</p>

                <figure>
                    <p style="text-align:left;">
                    <img width="80%" src="{{ site.baseurl }}/img/venue/acc_map.png"/>
                    </p>
                </figure>
                <br/>
                <h6><b>Route from Airport to NTU by Taxi</b></h6>
                <p>Around 40 minutes. <br/> Note that the taxi charges will increase after midnight (12:00). <br/> Both Uber and Grab are  available in Singapore.</p>


                <br/><br/>
                <h5><b>Contact</b></h5>
                <p>ACM UMAP values the diversity of our community, and aims to be an accessible and inclusive conference. If you have any questions or concerns about accessibility, or any requests for accommodation, please contact the conference accessibility chairs at <a href="mailto: accessibility.umap2018@gmail.com">accessibility.umap2018@gmail.com</a>, and they work with you to address your concerns. Note that some requests may require advance notice, so please submit accessibility requests as far in advance of the conference date as possible in order to give us adequate time to prepare.</p>
 
                <!--p>More information about the venue’s accessibility will be posted soon.</p-->
 
                <br/>
                <h6><b>Accessibility Chairs</b></h6>
                <li style="font-size: 115%"> Zhu Sun, Nanyang Technological University, Singapore </li>
                <li style="font-size: 115%"> Zehong Hu, Nanyang Technological University, Singapore </li>
            </div>
    </div>
</section>
<!-- End Venue Section -->
