<!-- Begin Blog-->
<section id="calls" class="blog">

<style>

.li{
    font-size: 115%;
}

#callli {
    font-size:18px;
}

}
</style>

    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1  text-left">

        <p>
            <li style="font-size: 115%"><a href="#t1">Accepted Demo Papers</a></li>
            <li style="font-size: 115%"><a href="#t2">Accepted Theory, Opinion and Reflection Papers</a></li>
            <li style="font-size: 115%"><a href="#t3">Accepted Late-Breaking Results Papers</a></li>

        <br id="t1" />
        <br/>
        <h5 ><b>Accepted Demo Papers</b></h5>
        <li style="font-size: 115%"><b>Myrror: a Platform for Quantified Self and Holistic User Modeling</b><br/>
        &nbsp; &nbsp; Cataldo Musto (University of Bari Aldo Moro); Giovanni Semeraro (University of Bari Aldo Moro); Cosimo Lovascio (University of Bari Aldo Moro); Marco de Gemmis (University of Bari Aldo Moro); Pasquale Lops (University of Bari Aldo Moro) </li><br />

        <li style="font-size: 115%"><b>MyShikko: Modelling Knee Walking in Aikido Practice</b><br/>
        &nbsp; &nbsp; Alberto Corbi (Universidad Internacional de la Rioja); Olga C. Santos (aDeNu Research Group) </li><br />

        <li style="font-size: 115%"><b>Kindness is Contagious: Demonstration of a Persuasive Intervention for Wellbeing</b><br/>
        &nbsp; &nbsp; Ana Ciocarlan (University of Aberdeen); Judith Masthoff (University of Aberdeen); Nir Oren (University of Aberdeen) </li><br />

        <br  id="t2"/>
        <br/>
        <h5 ><b>Accepted Theory, Opinion and Reflection Papers</b></h5>
        <li style="font-size: 115%"><b>Increasing Response Rates to Email Surveys in MOOCs</b><br/>  &nbsp; &nbsp; Dan Ding (National University of Singapore); Oleksandra Poquet (National University of Singapore); Joseph Jay Williams (National University of Singapore)</li><br />

        <li style="font-size: 115%"><b>Towards a Conceptual Model for Holistic Recommendations</b><br/>
        &nbsp; &nbsp; Federica Cena (University of Torino); Amon Rapp (University of Torino); Cataldo Musto (University of Bari Aldo Moro); Pasquale Lops (University of Bari Aldo Moro)  </li><br />

        <li style="font-size: 115%"><b>Finding the Sweet Spot: UMAP as a Facilitator of Equilibria in Human-Computer Interactions</b><br/>
        &nbsp; &nbsp; Panagiotis Germanakos (SAP SE) </li><br />

        <br id="t3" />
        <br/>
        <h5 ><b>Accepted Late-Breaking Results Papers</b></h5>
        <li style="font-size: 115%"><b>Study on Motivating Physical Activity in Children with Personalized Gamified Feedback</b><br/>
        &nbsp; &nbsp; Hanna Schäfer (Technical University of Munich); Joachim Bachner (Technical University of Munich); Sebastian Pretscher (Technical University of Munich); Georg Groh (Technical University of Munich); Yolanda Demetriou (Technical University of Munich)</li><br />

        <li style="font-size: 115%"><b>Privacy Perceiver: Using Social Network Posts to Derive Users' Privacy </b><br/>
        &nbsp; &nbsp; Frederic Raber (DFKI); Antonio Krueger (DFKI) </li><br />

        <li style="font-size: 115%"><b>Personalized Spatial Support for People with Autism Spectrum Disorder</b><br/>
        &nbsp; &nbsp; Federica Cena (University of Torino); Amon Rapp (University of Torino); Claudio Mattutino (University of Torino) </li><br />

        <li style="font-size: 115%"><b>Deep Content-based Recommender Systems Exploiting Recurrent Neural Networks and Linked Open Data</b><br/>
        &nbsp; &nbsp; Cataldo Musto (University of Bari Aldo Moro); Tiziano Franza (University of Bari Aldo Moro); Giovanni Semeraro (University of Bari Aldo Moro); Marco de Gemmis (University of Bari Aldo Moro); Pasquale Lops (University of Bari Aldo Moro)  </li><br />

        <li style="font-size: 115%"><b>Generating Consensus Explanations for Group Recommendations</b><br/>
        &nbsp; &nbsp; Shabnam Najafian (Delft University of Technology); Nava Tintarev (Delft University of Technology) </li><br />

        <li style="font-size: 115%"><b>Photos Don't Have Me, But How Do You Know Me?: Analyzing and Predicting Users on Instagram</b><br/>
        &nbsp; &nbsp; Kyungsik Han (Ajou University); Yonggeol Jo (Ajou University); Youngseung Jeon (Ajou University); Bogoan Kim (Ajou University); Junho Song (Hanyang University); Sang-Wook Kim (Hanyang University) </li><br />

        <li style="font-size: 115%"><b>Personalized Tourist Package Recommendation using Graph Based Approach</b><br/>
        &nbsp; &nbsp; Rashmi HTI (Indian Institute of Technology Hyderabad); Maunendra Sankar Desarkar (Indian Institute of Technology Hyderabad) </li><br />

        <li style="font-size: 115%"><b>Predicting Successful Collaboration in a Pair Programming  Eye Tracking Experiment</b><br/>
        &nbsp; &nbsp; Maureen Villamor (Ateneo de Manila University); Ma. Mercedes T. Rodrigo (Ateneo de Manila University) </li><br />

        <li style="font-size: 115%"><b>Targeting Diverse Coding Skills and Personalized Problem Selection in a Mobile Python Tutor</b><br/>
        &nbsp; &nbsp; Geela Venise Firmalo Fabic (University of Canterbury); Tanja Mitrovic (Intelligent Computer Tutoring Group, University of Canterbury, Christchurch); Kourosh Neshatian (University of Canterbury) </li><br />

        <li style="font-size: 115%"><b>Implicit User Modeling in Multi-participant Chat</b><br/>
        &nbsp; &nbsp; Anat Hashavit (IBM); Naama Tepper (IBM); Inbal Ronen (IBM Haifa Reserach Lab); Lior Leiba (IBM Research, Haifa); Amir David Nissan Cohen (Technion Haifa) </li><br />

        <li style="font-size: 115%"><b>Identifying Students’ Persistence Profiles in Problem Solving Task</b><br/>
        &nbsp; &nbsp; Cristina Dumdumaya (University of Southeastern Philippines); Ma. Mercedes T. Rodrigo (Department of Information Systems and Computer Science, Ateneo de Manila University); Michelle Banawan (ateneo de davao university) </li><br />

        <li style="font-size: 115%"><b>Fine-grained adaptation in exploratory search systems using simple user behaviour characteristics</b><br/>
        &nbsp; &nbsp; Alan Medlar (University of Helsinki); Joel Pyykkö (University of Helsinki); Dorota Glowacka (University of Helsinki) </li><br />

        <li style="font-size: 115%"><b>Towards Intelligent Interfaces for Mixed-Focus Collaboration</b><br/>
        &nbsp; &nbsp; Anton Sigitov (Bonn-Rhein-Sieg University of Applied Sciences); Oliver Staadt (University of Rostock); André Hinkenjann (Bonn-Rhein-Sieg University of Applied Sciences) </li><br />

        <li style="font-size: 115%"><b>Argumentation-Based Explanations in Recommender Systems: Conceptual Framework and Empirical Results</b><br/>
        &nbsp; &nbsp;  Sidra Naveed (Duisburg-Essen University); Tim Donkers (Duisburg-Essen University); Jürgen Ziegler (Duisburg-Essen University)</li><br />

        <li style="font-size: 115%"><b>"Can I have a Mooc2Go, please?" On The Viability of Mobile vs. Stationary Learning.</b><br/>
        &nbsp; &nbsp; Yue Zhao (Delft University of Technology); Tarmo Robal (Tallinn University of Technology); Christoph Lofi (Delft University of Technology); Claudia Hauff (Delft University of Technology) </li><br />

        <li style="font-size: 115%"><b>Polarization Effects in Group Decisions</b><br/>
        &nbsp; &nbsp; Muesluem Atas (Institute of software technology, Graz University of Technology); Stefan Reiterer (Institute of software technology, Graz University of Technology); Alexander Felfernig (Institute of software technology, Graz University of Technology); Thi Ngoc Trang Tran (Institute of software technology, Graz University of Technology) </li><br />

        <li style="font-size: 115%"><b>User-oriented Objective Prioritization for Meta-Featured Multi-Objective Recommender Systems</b><br/>
        &nbsp; &nbsp; Reinaldo Fortes (UFOP); Anisio Mendes Lacerda (CEFET-MG); Alan Freitas (UFOP); Carlos Bruckner (UFOP); Dayanne Coelho (UFOP); Marcos Goncalves (Federal University of Minas Gerais) </li><br />


        <li style="font-size: 115%"><b>Characterizing Learner Behavior from High Frequency Touchscreen Data Using Recurrent Neural Networks</b><br/>
        &nbsp; &nbsp; Zach Pardos (University of California, Berkeley); Changran Hu (Tsinghua University); Pengqiu Meng (Wuhan University); Michael Neff (University of California, Davis); Dor Abrahamson (University of California, Berkeley) </li><br />

        <li style="font-size: 115%"><b>Recommending Hotels Using Contextual and External Data</b><br/>
        &nbsp; &nbsp; Marie Al-Ghossein (Telecom ParisTech); Talel Abdessalem (LTCI, Télécom ParisTech, Université Paris-Saclay, UMI CNRS IPAL NUS); Anthony Barré (AccorHotels) </li><br />

        <li style="font-size: 115%"><b>Personalizing Persuasive Technologies: Do Gender and Age Affect Susceptibility to Persuasive Strategies?</b><br/>
        &nbsp; &nbsp; Aisha Muhammad Abdullahi (FEDERAL UNIVERSITY DUTSE-NIGERIA); Rita Orji (Dalhousie University); Kiemute Oyibo (University of Saskatchewan) </li><br />


        


        
        </div>
    </div>



</section>
<!-- End Blog -->
