<!-- Venue Section -->
<section id="venue">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.venueBlockTitle }}</h3>
            <div class="col-lg-10 col-lg-offset-1  text-left">
                <p>ACM UMAP values the diversity of our community, and aims to be an accessible and inclusive conference. If you have any questions or concerns about accessibility, or any requests for accommodation, please contact the conference accessibility chairs at <a href="mailto: accessibility.umap2018@gmail.com">accessibility.umap2018@gmail.com</a>, and they work with you to address your concerns. Note that some requests may require advance notice, so please submit accessibility requests as far in advance of the conference date as possible in order to give us adequate time to prepare.</p>
 
                <p>More information about the venue’s accessibility will be posted soon.</p>
 
                <br/>
                <h5><b>Accessibility Chairs</b></h5>
                <li style="font-size: 115%"> Zhu Sun, Nanyang Technological University, Singapore </li>
                <li style="font-size: 115%"> Zehong Hu, Nanyang Technological University, Singapore </li>
            </div>
    </div>
</section>
<!-- End Venue Section -->
