<!-- Venue Section -->
<section id="dinner">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            
            <div class="col-lg-10 col-lg-offset-1  text-left">
            <h5 id="paper"><b>List of options</b></h5>
            <p>
                <li style="font-size: 115%"><a href="#dorm">NTU Dormitory</a></li>
                <li style="font-size: 115%"><a href="#nec">Nanyang Executive Center (NEC)</a></li>
                <li style="font-size: 115%"><a href="#gent">Genting  Hotel Jurong</a></li></p>
            
            <br id="dorm" />
            <br/>

            <h5><b>NTU Dormitory</b></h4>
                <p><b>Types:</b> Standard Student Dormitory<br/>
                    <li style="font-size: 115%">WiFi Internet connection is available in all rooms and is free of charge</li>
                    <li style="font-size: 115%">Aircondition</li>
                </p>

                <p><b>Booking via Email:</b> <a href="mailto: umap_2018_dorm_application@outlook.com">umap_2018_dorm_application@outlook.com</a></p>

                <p><b>Address:</b> 50 Nanyang Crescent, Singapore 637598</p>

                <p><b>Distance to conference venue (LT2A, 65 Nanyang Drive):</b><br/>
                    <li style="font-size: 115%">10 minutes by free campus bus or</li>
                    <li style="font-size: 115%">20 minutes’ walk</li>
                </p>

                <p><b>Reservation Deadline:</b> May 25th, 2018</p>

                <p><b>Rates for July 7th - 12th in total (no extra days allowed):</b><br/>
                    <li style="font-size: 115%">Twin-Sharing rooms for students S$150, and for non-students S$225</li>
                    <li style="font-size: 115%">Single rooms for students S$190, and for non-students S$290</li>
                </p>

                <p><b>Check-in time:</b> 8:00 am - 10:00 pm</p>

                <p><b>Payment:</b> paying by cash</p>

                
                <!--p><br/><br/><b>Buildings, conference halls, and food,and leisure in the campus of Nanyang Technological University:</b></p-->
                <figure>
                    <p style="text-align:left;">
                    <img width="80%" src="{{ site.baseurl }}/img/venue/dorm.png"/>
                    </p>
                </figure>
                <br/>

            <br id="nec" />
            <br/>
            <h5><b>Nanyang Executive Center (NEC)</b></h4>
                <p><b>Types:</b> In campus best hotel <br/>
                    <li style="font-size: 115%">Free WiFi</li>
                    <li style="font-size: 115%">Breakfast included</li>
                </p>
                <p><b>Website:</b> <a href="http://www.ntu.edu.sg/nec/Pages/default.aspx" target="_blank">http://www.ntu.edu.sg/nec/Pages/default.aspx</a></p>

                <p><b>Booking via Email:</b> <a href="mailto: nec-rsvn@ntu.edu.sg">nec-rsvn@ntu.edu.sg</a></p>

                <p><b>Address:</b> 60 Nanyang View, Singapore 639673</p>

                <p><b>Location:</b> <a href="http://maps.ntu.edu.sg/maps#q:nanyang%20executive%20centre%20%28nec%29" target="_blank">http://maps.ntu.edu.sg/maps#q:nanyang%20executive%20centre%20%28nec%29</a>
                <figure>
                    <p style="text-align:left;">
                    <img width="80%" src="{{ site.baseurl }}/img/venue/nec_loc.png"/>
                    </p>
                </figure>
               </p>
                


                <p><b>Distance to conference venue (LT2A, 65 Nanyang Drive):</b><br/>
                    <li style="font-size: 115%">6 minutes by taxi (Uber and Grab are available in campus)</li>
                    <li style="font-size: 115%">13 minutes by walk + 13 minutes by shuttle bus</li>
                    <li style="font-size: 115%">Around 25 minutes by walk</li>
                    <li style="font-size: 115%"><b>We will arrange volunteers to guide you to the conference venue</b></li>
                </p>

                <p><b>Reservation Deadline:</b> June 8th, 2018</p>

                <p><b>Rates:</b><br/>
                    <li style="font-size: 115%">Single Room 160SGD + 17% tax</li>
                    <li style="font-size: 115%">Double Room 180SGD + 17% tax</li>
                </p>

                <p><b>Payment:</b> Cash or Credit/Debit Card – Visa, MasterCard</p>

                <p><b>Deposit:</b> NEC requires the client to place a deposit equivalent to 50% of the total amount of charges, inclusive of Service Charge and Goods and Services Tax to guarantee the booking. This deposit is non-refundable and non-transferable and will be credited towards the total charges.</p>

                <p><b>Cancellation policy:</b>
                <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-yw4l">Cancellation Timeline</th>
    <th class="tg-yw4l">Cancellation Charge</th>
  </tr>
  <tr>
    <td class="tg-baqh">2 months or less before the event</td>
    <td class="tg-baqh">Deposit forfeited or 50% of the total expenses</td>
  </tr>
  <tr>
    <td class="tg-baqh">7 working days or less before the event</td>
    <td class="tg-baqh">100% of the total expenses</td>
  </tr>
  <tr>
    <td class="tg-baqh">Any time during the event period</td>
    <td class="tg-baqh">100% of the total expenses</td>
  </tr>
</table>
                </p>

                
                <!--p><br/><br/><b>Buildings, conference halls, and food,and leisure in the campus of Nanyang Technological University:</b></p-->
                <figure>
                    <p style="text-align:left;">
                    <img width="80%" src="{{ site.baseurl }}/img/venue/nec.png"/>
                    </p>
                </figure>
                <br/>
                
                <br id="gent" />
                <br/>
                <h5><b>Genting  Hotel Jurong</b></h4>
                <p><b>Types:</b> 3-star hotel <br/>
                    <li style="font-size: 115%">Free WiFi</li>
                    <li style="font-size: 115%">Breakfast included</li>
                </p>
                <p><b>Website:</b> <a href="https://www.rwsentosa.com/en" target="_blank">https://www.rwsentosa.com/en</a></p>

                <p><b>Booking via Email:</b> Please complete the reservation form, which can be downloaded from <a href="{{ site.baseurl }}/img/venue/Hotel_Reservation_Form_NTU_UMAP_Conference.pdf">here</a>, and send to the reservation team <a href="mailto: callcentre.mice@rwsentosa.com">callcentre.mice@rwsentosa.com</a> to proceed the room booking to enjoy the event room rate.</p>

                <p><b>Address:</b> 2 Town Hall Link, 608516</p>

                <p><b>Location:</b> <figure>
                    <p style="text-align:left;">
                    <img width="80%" src="{{ site.baseurl }}/img/venue/gent_loc.png"/>
                    </p>
                </figure>
                <br/></p>
                


                <p><b>Distance to conference venue (LT2A, 65 Nanyang Drive):</b><br/>
                    <li style="font-size: 115%">14 minutes by taxi (Uber and Grab are available in Singapore)</li>
                    <li style="font-size: 115%">10 minutes by walk + 9 minutes by mrt + 10 minutes bus</li>
                </p>

                <p><b>Reservation Deadline:</b> June 8th, 2018</p>

                <p><b>Rates:</b><br/>
                    <li style="font-size: 115%">Superior Room (18sqm)  175SGD + 17% tax</li>
                    <li style="font-size: 115%">Deluxe Room (27sqm) 210SGD + 17% tax</li>
                </p>

                <p><b>Payment:</b> Cash or Credit/Debit Card – Visa, MasterCard</p>

                <figure>
                    <p style="text-align:left;">
                    <img width="70%" src="{{ site.baseurl }}/img/venue/gent1.jpg"/>
                    <img width="70%" src="{{ site.baseurl }}/img/venue/gent2.jpg"/>
                    </p>
                </figure>
                <!--p><br/><br/><b>Buildings, conference halls, and food,and leisure in the campus of Nanyang Technological University:</b></p-->
                <!--figure>
                    <p style="text-align:left;">
                    <img width="80%" src="{{ site.baseurl }}/img/venue/gent.jpg"/>
                    </p>
                </figure-->

                <br/>

            </div>
    </div>
</section>
<!-- End Venue Section -->
