<!-- Venue Section -->
<section id="dinner">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>NTU Dormitory</h3>
            <div class="col-lg-10 col-lg-offset-1  text-left">
                <p><b>Types:</b> Standard Student Dormitory<br/>
                    <li style="font-size: 115%">WiFi Internet connection is available in all rooms and is free of charge</li>
                    <li style="font-size: 115%">Aircondition</li>
                </p>

                <p><b>Address:</b> 50 Nanyang Crescent, Singapore 637598</p>

                <p><b>Distance to conference venue:</b><br/>
                    <li style="font-size: 115%">10 minutes by free campus bus or</li>
                    <li style="font-size: 115%">20 minutes’ walk</li>
                </p>

                <p><b>Reservation Deadline:</b> May 31st, 2018</p>

                <p><b>Rates:</b><br/>
                    <li style="font-size: 115%">Twin-Sharing rooms for students S$30 per day, and for non-students S$45 per day</li>
                    <li style="font-size: 115%">Single rooms for students S$38 per day, and for non-students S$59 per day</li>
                </p>

                <p><b>Payment:</b> paying by cash</p>

                
                <!--p><br/><br/><b>Buildings, conference halls, and food,and leisure in the campus of Nanyang Technological University:</b></p-->
                <figure>
                    <p style="text-align:center;">
                    <img width="80%" src="{{ site.baseurl }}/img/venue/dorm.png"/>
                    </p>
                </figure>
                <br/>

                <!--p><b>Plenty of sightseeing, beautiful city view, and ideal places for individuals and families to visit in Singapore:</b></p-->
                
            </div>
    </div>
</section>
<!-- End Venue Section -->
