<!-- Venue Section -->
<style>
highlight {
    background-color: #fefbd8;
}
</style>

<section id="student-support">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="col-lg-10 col-lg-offset-1  text-left">

                <!--highlight><font color="blue"> UMAP will have over US$31,000 to distribute for student travel from SIGCHI, SIGWEB, NSF and User Modeling, Inc.</font></highlight-->
                    <p><b style="font-size: 150%">The Best Paper award goes to:</b><br><br></p>
                    <p  align="center" style="border:3px; border-style:solid; border-color:blue; padding: 1em;"><b style="font-size: 150%">James Schaffer, John O'Donovan and Tobias Höllerer. <br>Easy to Please: Separating User Experience from Choice Satisfaction</b></p>

                
                <br/><br/>

                <p><b style="font-size: 150%">James Chen Best Student Paper Award goes to:</b><br><br></p>
                    <p align="center" style="border:3px; border-style:solid; border-color:blue; padding: 1em;"><b style="font-size: 150%">Adir Solomon, Ariel Bar, Chen Yanai, Bracha Shapira and Lior Rokach. <br>Predict Demographic Information Using Word2vec on Spatial Trajectories <br> <br> and <br><br>Jacek Wasilewski and Neil Hurley. <br>Intent-aware Item-based Collaborative Filtering for Personalised Diversification</b></p>
                <br/><br/>
                <p><b style="font-size: 150%">Congratulations to the authors!</b><br><br></p>
            </div>
    </div>
</section>
<!-- End Venue Section -->
