<!-- Begin Blog-->
<section id="calls" class="blog">

<style>

.li{
    font-size: 115%;
}

#callli {
    font-size:18px;
}

}
</style>
<style>
.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 2px 2px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */ 
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}
</style>

    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="col-lg-10 col-lg-offset-1  text-left">
<p>  We are pleased to announce that UMAP 2017 is again supported by Conference Navigator, a social system for conference attendees that provides personal scheduling, social linking and personalized recommendations of papers (this is, in fact, 10th year in a row starting with AH2008 – <a href="http://halley.exp.sis.pitt.edu/cn3/portalindex.php"  target="_blank">http://halley.exp.sis.pitt.edu/cn3/portalindex.php</a>)</p>

<p>Conference Navigator needs your input to gather the collective intelligence needed to match all Hypertext community members with sessions and colleagues that best fit their research interests. Please, help the community by adding your *AT LEAST FIVE conference papers* that are of most interest to you to your personal UMAP 2018 schedule (one of them could be yours, of course!). The provided data will be used for recommending similar papers for all attendees as well as for making a more efficient conference program.</p>

<p>Check the proceedings here: <a href="http://halley.exp.sis.pitt.edu/cn3/proceedingswithauthors.php?conferenceID=153"  target="_blank">http://halley.exp.sis.pitt.edu/cn3/proceedingswithauthors.php?conferenceID=153</a><br>
Examine the program here: <a href="http://halley.exp.sis.pitt.edu/cn3/legacy.php?conferenceID=153"  target="_blank">http://halley.exp.sis.pitt.edu/cn3/legacy.php?conferenceID=153</a></p>

<p>To increase the chances that your own paper is properly recommended to the conference attendees, we are also asking you –as an author– to add *three most descriptive TAGS* to your paper in the system. Just find your paper in the schedule, access it, and add tags. The more tags your paper has, the more chances the attendees will have to discover it in the system. Let us also know if there are any errors in your paper’s data.</p>

<p>Finally, to make yourself and your past work more visible in the list of authors, consider adding more information about you to your PROFILE – your Twitter, Google Scholar, Mircosoft Academic Search, and Mendeley profiles. This will also provide a broader range of paper recommendations for you as well.</p>

<p>See the list of authors here: <a href="http://halley.exp.sis.pitt.edu/cn3/getAuthor.php?type=ALL&conferenceID=153"  target="_blank">http://halley.exp.sis.pitt.edu/cn3/getAuthor.php?type=ALL&conferenceID=153</a></p>

<p>Edit your profile: <a href="http://halley.exp.sis.pitt.edu/cn3/EditProfile.php?conferenceID=153"  target="_blank">http://halley.exp.sis.pitt.edu/cn3/EditProfile.php?conferenceID=153</a></p>

<p>Many authors and most of the attendees already have accounts in the Conference Navigator system. If you forgot your password, you can reset it on the login page.</p>

<p><a href="http://halley.exp.sis.pitt.edu/cn3/auth.php?conferenceID=153"  target="_blank">http://halley.exp.sis.pitt.edu/cn3/auth.php?conferenceID=153</a></p>

<p>If you are a new user, please, register at <a href="http://halley.exp.sis.pitt.edu/cn3/auth.php?conferenceID=153"  target="_blank">http://halley.exp.sis.pitt.edu/cn3/auth.php?conferenceID=153</a></p>

<p>and click on a link that the system will send you by e-mail. Once you logged in and edited your profile, check the conference schedule or the list of accepted papers and add your favorite talks to your personal schedule.</p>

<p>We wil enable more system features as the data is ready.</p>

</div>
        </div>
    </div>



</section>
<!-- End Blog -->
