<!-- Begin Blog-->
<section id="calls" class="blog">

<style>

#callli {
    font-size:18px;
}

}
</style>

    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1  text-left">

        
        
        <h4 id="doc"></h4><br /><br />
        <!--h4><b>Call for Workshop Proposals</b></h4-->

        <!--h5><b>UMAP2018 Doctoral Consortium</b></h5-->
        <p>The UMAP 2018 Conference, following a tradition started in 1994, will include a Doctoral Consortium (DC) Session, which provides an opportunity for doctoral students to explore and develop their research interests under the guidance of a panel of distinguished research faculty. Doctoral students are invited to apply to present their research to scholars and researchers in the field who will provide constructive feedback and advice.</p>

        <p>The doctoral consortium is implemented as a student mentoring program that introduces students to senior researchers in the relevant fields.</p>

        <p>Students are expected to document in a brief submission their doctoral research (see below described submission information for further details), which will be evaluated by the consortium committee.

        <li style="font-size: 115%">Good quality applications will be selected to be presented at a Doctoral Consortium Session as part of the conference.</li>
        <li style="font-size: 115%">Promising, but less well-developed applications will be selected for presentation at a poster session.</li></p>

        <p>Each student with an accepted submission will be assigned a mentor who will provide a feedback on the student's work and will discuss the doctoral research with the student and the audience at the consortium.</p>

        <br/>
        <h5><b>How to Submit to the Doctorla Consortium</b></h5>
        <p>To apply for the UMAP 2018 doctoral consortium, students are asked to submit a paper presenting their doctoral research that describes:
        <li style="font-size: 115%">The problem being addressed</li>
        <li style="font-size: 115%">The motivation for addressing the problem including related work
</li>
        <li style="font-size: 115%">The main contributions that the PhD project aims to achieve</li>
        <li style="font-size: 115%">The progress made to date (including a clear description of the proposed approach and preliminary results) and the plan of further research</li></p>

        <p>Topics include (but are not limited to) the <a href="http://www.um.org/umap2018/cfp/">UMAP 2018 key areas</a>.</p>

        <p>Each DC submission is encouraged to consider the following: identification of related (state of the art) work, indication of potential innovation, application or contribution for which the work is aimed. In addition, as appropriate for the PhD project, the submissions can consider: indication of data to be used for experimentation, indication of implementation approach, indication of evaluation criteria and experimental design.</p>

        <p>Each submission should contain a cover page including the paper title, name of the PhD candidate, the mane of his/her supervisor(s) and University, a paragraph describing the stage they are in the PhD programme, together with a brief description of their background. This will enable the committee to adapt its assistance to each student.</p>

        <p>Papers should be submitted via the EasyChair Doctoral Consortium submission system (which is different from the EasyChair system for the main proceedings).</p>

        <p>Submissions should be pdf documents consisting of 1 cover page and the paper (up to 4 pages long), formatted using the <a href="https://www.acm.org/publications/proceedings-template">ACM SIG proceedings template</a>.</p>




        <br/>
        <h5><b>UMAP Proceedings</b></h5>
        <p>The accepted UMAP2018 Doctoral Consortium papers will be included in the Conference Proceedings, which will be published by ACM and will be available via the ACM Digital Library. The main author (doctoral student) must register for the conference for the paper to be included in the proceedings.</p>

        <br/>
        <h5><b>Financial Support</b></h5>
        <p>UMAP 2018 student support will be available from UM Inc., SIGCHI, SIGWEB and  NSF. Doctoral students can apply for support with their travel and accommodation expenses. Preference will be given to students presenting at the conference, including the UMAP 2018 Doctoral Consortium. More details will be provided on the UMAP 2018 web site.</p>

        <br/>
        <h5><b>Important Dates</b></h5>
            <li style="font-size: 115%">Paper submission: 25 March, 2018</li>
            <li style="font-size: 115%">Notification to authors: 13 April 2018</li>
            <li style="font-size: 115%">Camera ready submission: 6th May 2018</li>
            <li style="font-size: 115%">UMAP 2018 DC Session: 9 or 10 July 2018</li>
            <p><b>Note: The submissions times are 11:59pm Hawaii time</b></p>

        <br/>
        <h5><b>Doctoral Consortium Chairs</b></h5>
        <li style="font-size: 115%">Pearl Pu (EPFL, Switzerland) &lt;<a href="mailto: pearl.pu@epfl.ch">pearl.pu@epfl.ch</a>&gt; </li>
        <li style="font-size: 115%">Vania Dimitrova (University of Leeds, United Kingdom) &lt;<a href="mailto: V.G.Dimitrova@leeds.ac.uk">V.G.Dimitrova@leeds.ac.uk</a>&gt;</li>


        
        </div>
    </div>



</section>
<!-- End Blog -->
