<!-- Begin Blog-->
<section id="organization" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <div class="col-lg-8 col-md-10 col-xs-12">
                <span style="font-size:16px">
                Kenro Aihara, National Institute of Informatics <br/>
                Esma Aimeur, University of Montreal <br/>
                Liliana Ardissono, University of Torino <br/>
                Sören Auer, University of Hannover <br/>
                Ryan Baker, Columbia University <br/>
                Shenghua Bao, IBM <br/>
                Joeran Beel, Trinity College Dublin <br/>
                Alejandro Bellogin, Universidad Autonoma de Madrid <br/> 
                Maria Bielikova, Slovak University of Technology in Bratislava <br/>
                Ludovico Boratto, Eurecat <br/>
                Alessandro Bozzon, Delft University of Technology <br/> 
                Paul Brna, University of Leeds <br/>
                Robin Burke, DePaul University <br/>
                Iván Cantador, Universidad Autónoma de Madrid <br/>
                Sylvain Castagnos, LORIA <br/>
                Federica Cena, University of Torino <br/>
                Eva Cerezo, Universidad de Zaragoza <br/>
                Cristina Conati, The University of British Columbia <br/>
                Owen Conlan, Trinity College Dublin <br/>
                Evandro Costa, Federal University of Alagoas <br/>
                Paolo Cremonesi, Politecnico di Milano <br/>
                Alexandra Cristea, University of Warwick<br/> 
                Florian Daniel, Politecnico di Milano <br/>
                Berardina Nadja De Carolis, University of Bari <br/>
                Marco De Gemmis, University of Bari <br/>
                Pasquale De Meo, Università degli Studi di Messina <br/>
                Michel Desmarais, Ecole Polytechnique de Montreal <br/>
                Ernesto Diaz-Aviles, Libre AI <br/>
                Yannis Dimitriadis, University of Valladolid <br/>
                Vania Dimitrova, University of Leeds <br/>
                Peter Dolog, Aalborg University <br/>
                Tommaso Di Noia, Politecnico di Bari <br/>
                Sidney D'Mello, University of Colorado Boulder <br/>
                Benedict Du Boulay, University of Sussex <br/>
                Michael Ekstrand, Boise State University <br/>
                Mehdi Elahi, Free University of Bozen-Bolzano <br/>
                Alexander Felfernig, Graz University of Technology <br/>
                Bruce Ferwerda, Jönköping University <br/>
                Flavius Frasincar, Erasmus University Rotterdam <br/>
                Ujwal Gadiraju, L3S Research Center <br/>
                Fabio Gasparetti, ROMA TRE University <br/>
                Jonathan Gemmell, DePaul University <br/>
                Cristina Gena, University of Torino <br/>
                Panagiotis Germanakos, SAP SE & University of Cyprus <br/>
                Fabientestpc Gouyontestpc, JHS <br/>
                Ido Guy, eBay Research <br/> 
                Alan Hanjalic, Delft University of Technology <br/>
                Max Harper, University of Minnesota <br/>
                Eelco Herder, Radboud University <br/>
                Balázs Hidasi, Gravity R&D <br/>
                Sharon Hsiao, Arizona State University <br/>
                Xiao Hu, The University of Hong Kong <br/>
                Bogdan Ionescu, University Politehnica of Bucharest <br/>
                Seiji Isotani, University of São Paulo <br/>
                W. Lewis Johnson, Alelo Inc. <br/>
                Michael Jugovac, TU Dortmund <br/>
                Styliani Kleanthous, University of Cyprus <br/>
                Peter Knees, Vienna University of Technology <br/>
                Alfred Kobsa, University of California, Irvine <br/>
                Joseph Konstan, University of Minnesota <br/>
                Irena Koprinska, The University of Sydney <br/>
                Antonio Krueger, DFKI <br/>
                Tsvi Kuflik, The University of Haifa <br/>
                Bob Kummerfeld, The University of Sydney <br/>
                Neal Lathia, Skyscanner <br/>
                Edith Law, University of Waterloo <br/>
                Séamus Lawless, Trinity College Dublin <br/>
                James Lester, North Carolina State University <br/>
                Tobias Ley, Tallinn University <br/> 
                Pasquale Lops, University of Bari <br/>
                Bernd Ludwig, University Regensburg <br/>
                Brian Mac Namee, University College Dublin <br/>
                George Magoulas, Birkbeck College <br/>
                Estefania Martin, Universidad Rey Juan Carlos <br/>
                Roberto Martinez-Maldonado, University of Technology, Sydney <br/>
                Judith Masthoff, University of Aberdeen <br/>
                Gordon McCalla, University of Saskatchewan <br/>
                Alessandro Micarelli, Roma Tre University <br/>
                Tanja Mitrovic, University of Canterbury, Christchurch <br/>
                Riichiro Mizoguchi, Japan Advanced Institute of Science and Technology <br/>
                Bamshad Mobasher, DePaul University <br/>
                Osnat Mokryn, University of Haifa <br/>
                Inge Molenaar, Radboud Universiteit Nijmegen <br/>
                Pablo Moreno-Ger, Universidad Internacional de La Rioja <br/>
                Kasia Muldner, Carleton University <br/>
                Cataldo Musto, University of Bari <br/>
                Julia Neidhardt, Vienna University of Technology <br/>
                Wolfgang Nejdl, L3S and University of Hannover <br/>
                Roger Nkambou, Université du Québec À Montréal <br/>
                Ingrid Nunes, Universidade Federal do Rio Grande do Sul <br/>
                Xavier Ochoa, Escuela Superior Politécnica del Litoral <br/>
                Michael O'Mahony, University College Dublin <br/>
                Georgios Paliouras, Institute of Informatics & Telecommunications, NCSR "Demokritos" <br/>
                Alexandros Paramythis, Contexity AG <br/>
                Denis Parra, Pontificia Universidad Catolica de Chile <br/>
                Mykola Pechenizkiy, Eindhoven University of Technology <br/>
                Johanna Pirker, Graz University of Technology <br/>
                Luiz Pizzato, Commonwealth Bank of Australia <br/>
                Amon Rapp, University of Torinom <br/>
                Francesco Ricci, Free University of Bozen-Bolzano <br/>
                Ma. Mercedes T. Rodrigo, Ateneo de Manila University <br/>
                Cristobal Romero, University of Cordoba <br/>
                Laurens Rook, Delft University of Technology <br/>
                Domenico Rosaci, University Mediterranea of Reggio Calabria <br/>
                Alan Said, University of Skövde <br/>
                George Samaras, University of Cyprus <br/>
                Giuseppe Sansonetti, Roma Tre University <br/>
                Filippo Sciarrone, Roma Tre University <br/>
                Giovanni Semeraro, University of Bari <br/>
                Shilad Sen, Macalester College <br/>
                Elena Simperl, University of Southampton <br/>
                Barry Smyth, University College Dublin <br/>
                Sergey Sosnovsky, Utrecht University <br/>
                Ben Steichen, California State Polytechnic University, Pomona <br/>
                Sebastian Stober, University of Potsdam <br/>
                Panagiotis Symeonidis, Free University of Bolzano <br/>
                Andrea Tagarelli, University of Calabria <br/>
                Marco Temperini, Sapienza University of Rome <br/>
                Nava Tintarev, Delft University of Technology <br/>
                Marko Tkalcic, Free University of Bolzano <br/>
                Ilaria Torre, University of Geno <br/>
                Christoph Trattner, MODUL University Vienna <br/>
                Katrien Verbert, Katholieke Universiteit Leuven <br/>
                Ji-Rong Wen, Renmin University of China <br/>
                Fridolin Wild, Oxford Brookes University <br/>
                Martijn Willemsen, Eindhoven University of Technology <br/>
                Chang Xu, CSIRO <br/>
                Kun Yu, CSIRO <br/>
                Massimo Zancanaro, FBK-cit <br/>
                Yong Zheng, Illinois Institude of Technology <br/>
                Ingrid Zukerman, Monash University <br/>
                
                </span>

                

            </div>
        </div>
    </div>
</section>
<!-- End Blog -->
