<!-- Begin Blog-->
<section id="calls" class="registration">

<style>

#callli {
    font-size:18px;
}

}
</style>

    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1  text-left">

        
        <h5><b>Registration Website</b></h5>
        <p><b>To register for the ACM UMAP 2018 conference, please use the registration website: <a href="https://www.regonline.com/umap2018" target="_blank">https://www.regonline.com/umap2018</a>.</b>
        <!--h4><b>Call for Workshop Proposals</b></h4-->

        </br></br>

        <h5><b>Registration Fees</b></h5>
        <p><b>(All in Dollar (USD))</b></p>

        <h6><b>Full Conference</b></h6>
        <p>The fee includes admission to the scientific sessions of the main conference as well as tutorials and workshops, conference materials and a catering package consisting of Welcome Reception, coffee breaks, lunches and Conference Dinner.</p>

        <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-cpu2{border-color:#000000;vertical-align:top}
.tg .tg-wreh{font-weight:bold;border-color:#000000;vertical-align:top}
.tg .tg-wp8o{border-color:#000000;text-align:center;vertical-align:top}
.tg .tg-mqa1{font-weight:bold;border-color:#000000;text-align:center;vertical-align:top}
</style>
<table class="tg" align="center">
  <tr>
    <th class="tg-wreh">FULL CONFERENCE</th>
    <th class="tg-mqa1">Early<br>On or before May 31</th>
    <th class="tg-mqa1">Regular<br>After May 31</th>
    <th class="tg-mqa1">On-site<br>On or after July 8</th>
  </tr>
  <tr>
    <td class="tg-cpu2">ACM Member</td>
    <td class="tg-wp8o">625</td>
    <td class="tg-wp8o">700</td>
    <td class="tg-wp8o">780</td>
  </tr>
  <tr>
    <td class="tg-cpu2">Student ACM Member</td>
    <td class="tg-wp8o">380</td>
    <td class="tg-wp8o">450</td>
    <td class="tg-wp8o">530</td>
  </tr>
  <tr>
    <td class="tg-cpu2">ACM Non-member</td>
    <td class="tg-wp8o">700</td>
    <td class="tg-wp8o">780</td>
    <td class="tg-wp8o">850</td>
  </tr>
  <tr>
    <td class="tg-cpu2">Student ACM Non-member</td>
    <td class="tg-wp8o">420</td>
    <td class="tg-wp8o">500</td>
    <td class="tg-wp8o">570</td>
  </tr>
</table>
</br>

        <h6><b>Main Conference</b></h6>
        <p>The fee includes admission only to the scientific sessions of the main conference, conference materials and a catering package consisting of Welcome Reception, coffee breaks, lunches and Conference Dinner.</p>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-cpu2{border-color:#000000;vertical-align:top}
.tg .tg-wreh{font-weight:bold;border-color:#000000;vertical-align:top}
.tg .tg-wp8o{border-color:#000000;text-align:center;vertical-align:top}
.tg .tg-mqa1{font-weight:bold;border-color:#000000;text-align:center;vertical-align:top}
</style>
<table class="tg" align="center">
  <tr>
    <th class="tg-wreh">MAIN CONFERENCE</th>
    <th class="tg-mqa1">Early<br>On or before May 31</th>
    <th class="tg-mqa1">Regular<br>After May 31</th>
    <th class="tg-mqa1">On-site<br>On or after July 8</th>
  </tr>
  <tr>
    <td class="tg-cpu2">ACM Member</td>
    <td class="tg-wp8o">550</td>
    <td class="tg-wp8o">630</td>
    <td class="tg-wp8o">700</td>
  </tr>
  <tr>
    <td class="tg-cpu2">Student ACM Member</td>
    <td class="tg-wp8o">300</td>
    <td class="tg-wp8o">380</td>
    <td class="tg-wp8o">450</td>
  </tr>
  <tr>
    <td class="tg-cpu2">ACM Non-member</td>
    <td class="tg-wp8o">630</td>
    <td class="tg-wp8o">700</td>
    <td class="tg-wp8o">780</td>
  </tr>
  <tr>
    <td class="tg-cpu2">Student ACM Non-member</td>
    <td class="tg-wp8o">350</td>
    <td class="tg-wp8o">420</td>
    <td class="tg-wp8o">500</td>
  </tr>
</table>
</br>

        <h6><b>Workshops & Tutorials</b></h6>
        <p>The fee includes admission only to UMAP 2018 tutorials and workshops, workshop materials, coffee breaks and lunch.</p>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-cpu2{border-color:#000000;vertical-align:top}
.tg .tg-wreh{font-weight:bold;border-color:#000000;vertical-align:top}
.tg .tg-wp8o{border-color:#000000;text-align:center;vertical-align:top}
.tg .tg-mqa1{font-weight:bold;border-color:#000000;text-align:center;vertical-align:top}
</style>
<table class="tg" align="center">
  <tr>
    <th class="tg-wreh">WORKSHOPS &amp; TUTORIALS</th>
    <th class="tg-mqa1">Early<br>On or before May 31</th>
    <th class="tg-mqa1">Regular<br>After May 31</th>
    <th class="tg-mqa1">On-site<br>On or after July 8</th>
  </tr>
  <tr>
    <td class="tg-cpu2">ACM Member</td>
    <td class="tg-wp8o">150</td>
    <td class="tg-wp8o">190</td>
    <td class="tg-wp8o">230</td>
  </tr>
  <tr>
    <td class="tg-cpu2">Student ACM Member</td>
    <td class="tg-wp8o">110</td>
    <td class="tg-wp8o">150</td>
    <td class="tg-wp8o">190</td>
  </tr>
  <tr>
    <td class="tg-cpu2">ACM Non-member</td>
    <td class="tg-wp8o">190</td>
    <td class="tg-wp8o">230</td>
    <td class="tg-wp8o">270</td>
  </tr>
  <tr>
    <td class="tg-cpu2">Student ACM Non-member</td>
    <td class="tg-wp8o">150</td>
    <td class="tg-wp8o">190</td>
    <td class="tg-wp8o">230</td>
  </tr>
</table>

</br>
        
        <p><b>ACCOMPANYING PERSON FEE: USD 90</b></br>
        Participants are welcome to register accompanying persons to enjoy: 1) the Welcome Reception on Monday July 9, 2018; 2) the Conference Dinner on Tuesday July 10, 2018 at the Singapore Zoo as well as the visit to the Night Safari; 3) the visit to the beautiful Garden by the Bay on Wednesday July 11, 2018. He or she will not have access to the scientific program of the conference.</p>

        </div>
    </div>



</section>
<!-- End Blog -->
