<!-- Venue Section -->
<section id="dinner">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            
            <div class="col-lg-10 col-lg-offset-1  text-left">
                <h4>Conference Dinner</h4>
                <p><b>Time:</b> Tuesday, July 10th, 6:00 PM<br/>
                <b>Location:</b> <a href="https://www.wrs.com.sg/en/night-safari/" target="_blank">Singapore Zoo and Night Safari</a><br/>
                <b>Address:</b> 80 Mandai Lake Rd, Singapore 729826</p>

                <p>The conference dinner will be held at the Forest Lodge in Singapore Zoo. The restaurant is surrounded by the forest which is the most beautiful part in Singapore Zoo.</p>

                <p>After the dinner, we will schedule a visit to the Night Safari, a must-see place in Singapore. It is the world's first nocturnal zoo and is one of the most popular tourist attractions in Singapore. The Night Safari currently houses over 2,500 animals representing over 130 species, of which 38% are threatened species. Around 1.1 million visitors visit the safari per year.</p>

                <p>UMAP will confer the UMAP best paper award and two the James Chen Best Student Paper awards during the conference dinner.</p>

                
                <!--p><br/><br/><b>Buildings, conference halls, and food,and leisure in the campus of Nanyang Technological University:</b></p-->
                <figure>
                    <p style="text-align:center;">
                    <img width="52%" src="{{ site.baseurl }}/img/venue/dinner_1.png"/>
                    <img width="31%" src="{{ site.baseurl }}/img/venue/dinner_2.png"/>
                    </p>
                </figure>
                <br/>

                <!--p><b>Plenty of sightseeing, beautiful city view, and ideal places for individuals and families to visit in Singapore:</b></p-->
                <figure>
                    <p style="text-align:center;">
                    <img width="33.5%" src="{{ site.baseurl }}/img/venue/dinner_3.png"/>
                    <img width="31%" src="{{ site.baseurl }}/img/venue/dinner_4.png"/>
                    <img width="30%" src="{{ site.baseurl }}/img/venue/dinner_5.png"/>
                    </p>
                </figure>
            </div>
    </div>
</section>
<!-- End Venue Section -->
