<!-- Venue Section -->
<section id="dinner">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            
            <div class="col-lg-10 col-lg-offset-1  text-left">
                <h5><b>Conference Reception</b></h5>
                <p>The conference reception will be held at the North Spine Plaza of Nanyang Technological University. We will invite Nanyang Technological University Chinese Orchestra (NTUCO) to perform in the conference reception. NTUCO is established in 1983, comprising over 100 musicians. It has held its annual Transient Reminiscences performances since 1997. The yearly event aims to preserve the rich Chinese music heritage and to promote a greater appreciation for Chinese classical music among the public.</p>

                <figure>
                    <p style="text-align:center;">
                    <img width="80%" src="{{ site.baseurl }}/img/venue/reception.png"/>
                    </p>
                </figure>
                <br/><br/>

                <h5><b>Conference Dinner</b></h5>
                <p><b>Time:</b> Tuesday, July 10th, 6:00 PM<br/>
                <b>Location:</b> <a href="https://www.wrs.com.sg/en/night-safari/" target="_blank">Singapore Zoo and Night Safari</a><br/>
                <b>Address:</b> 80 Mandai Lake Rd, Singapore 729826</p>

                <p>The conference dinner will be held at the Forest Lodge in Singapore Zoo. The restaurant is surrounded by the forest which is the most beautiful part in Singapore Zoo.</p>

                <p>After the dinner, we will schedule a visit to the Night Safari, a must-see place in Singapore. It is the world's first nocturnal zoo and is one of the most popular tourist attractions in Singapore. The Night Safari currently houses over 2,500 animals representing over 130 species, of which 38% are threatened species. Around 1.1 million visitors visit the safari per year.</p>

                <p>UMAP will confer the UMAP best paper award and two the James Chen Best Student Paper awards during the conference dinner.</p>

                
                <!--p><br/><br/><b>Buildings, conference halls, and food,and leisure in the campus of Nanyang Technological University:</b></p-->
                <figure>
                    <p style="text-align:center;">
                    <img width="52%" src="{{ site.baseurl }}/img/venue/dinner_1.png"/>
                    <img width="31%" src="{{ site.baseurl }}/img/venue/dinner_2.png"/>
                    </p>
                </figure>
                <br/>

                <!--p><b>Plenty of sightseeing, beautiful city view, and ideal places for individuals and families to visit in Singapore:</b></p-->
                <figure>
                    <p style="text-align:center;">
                    <img width="33.5%" src="{{ site.baseurl }}/img/venue/dinner_3.png"/>
                    <img width="31%" src="{{ site.baseurl }}/img/venue/dinner_4.png"/>
                    <img width="30%" src="{{ site.baseurl }}/img/venue/dinner_5.png"/>
                    </p>
                </figure>
                <br/><br/>

                <h5><b>Visit Garden by the Bay</b></h5>
                <p>Located next to Marina Reservoir, Gardens by the Bay offers breath-taking waterfront views. This multi-award winning horticultural destination spans 101 hectares of reclaimed land, and is made up of two main areas – Bay South Garden and Bay East Garden.</p>

                <p><b>Super-sized trees</b></br>
                Bay South Garden is the largest of the gardens. Inspired by an orchid, the design resembles Singapore’s national flower, Vanda ‘Miss Joaquim’. You can’t miss the massive Supertrees here. These tree-shaped vertical gardens are between nine to 16 storeys tall. Walk on the suspended walkway between two Supertrees to enjoy a bird’s eye view of the gardens. In the evening, catch the sky show of choreographed lights and sounds at the Garden Rhapsody amidst the Supertrees.</p>

                <figure>
                    <p style="text-align:center;">
                    <img width="80%" src="{{ site.baseurl }}/img/venue/tree.png"/>
                    </p>
                </figure>
                <br/>

                <p><b>A forest in the clouds</b></br>
                Unique to Gardens by the Bay is the Cloud Forest. Within the enclosed compound, a 35-metre tall mountain is veiled in mist and covered in lush vegetation amidst the world’s tallest indoor waterfall. Here, you will find plant life from tropical highlands up to 2,000 metres above sea level.</br>
                The natural beauty of the gardens translates indoors. Dine in style at a range of eateries across the gardens, from casual cafes to posh restaurants, all with interiors designed to reflect the splendour of Gardens by the Bay.
                </p>

                <figure>
                    <p style="text-align:center;">
                    <img width="80%" src="{{ site.baseurl }}/img/venue/forest.png"/>
                    </p>
                </figure>
                <br/>
                <figure>
                    <p style="text-align:center;">
                    <img width="60%" src="{{ site.baseurl }}/img/venue/forest5.png"/>
                    </p>
                </figure>
                <br/>



            </div>
    </div>
</section>
<!-- End Venue Section -->
