<!-- Venue Section -->
<style>
highlight {
    background-color: #fefbd8;
}
</style>

<section id="student-support">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="col-lg-10 col-lg-offset-1  text-left">

                <!--highlight><font color="blue"> UMAP will have over US$31,000 to distribute for student travel from SIGCHI, SIGWEB, NSF and User Modeling, Inc.</font></highlight-->
                    <p style="border:3px; border-style:solid; border-color:blue; padding: 1em;"><b style="font-size: 150%">UMAP will have over US$31,000 to distribute for student travel from SIGCHI, SIGWEB, NSF and User Modeling, Inc.</b></p>
                
                <br/><br/>
                <h6><b></b></h6>
                
                <p><b>The UMAP Student Travel Award Program</b> is intended to help student authors attend UMAP.</p>

                <p>Student Travel Awards are given to authors who are currently students or who were students at the time of submission of their papers.  Preference in awards is given to Doctoral Consortium presenters and to students who are first authors and will present the paper at the conference and whose advisors do not have a current research grant.  Preference is given to PhD students and to underrepresented groups in computer science such as women.</p>

                <p>The size of the award given is based on the funds available, the student’s expected travel expenses minus other sources of support, and the number of applicants.  Up to 90% of expenses except meals may be covered.  Awards are typically larger for authors of full papers and Doctoral Consortium presenters.</p>

                <p>All students receiving support will be requestesd to help with a small organization task during the conference.</p>

                <p>Financial support will be provided via reimbursement of expenses. The funding provided by NFS can be allocated to students studying at the US institutions/universities, who need to book flights from US flagged carriers (a carrier operating under a code share agreement with a US carrier is considered a US flag carrier as long as the ticket is issued using the US flag carrier’s airline designator and flight number).</p>
 
                <p>Please note that student registration fees for UMAP 2018 will only be covered on the level of early bird student ACM members. We strongly advise to apply for ACM membership online ASAP (US$19 per year; please note that the ACM membership fee will not be covered by the student support grant). Accommodation will be covered up to S$30 per night (i.e. the cost of student accommodation at the NTU dormitory).</p>

                <br/><br/>
                
                <p><b>Additional funding available from SIGCHI:</b> Students are also encouraged to apply directly to the SIGCHI Gary Marsden Student Development Fund: <a href="https://sigchi.org/get-involved/funding/gary-marsden-student-development-fund/">https://sigchi.org/get-involved/funding/gary-marsden-student-development-fund/</a>, which is established in recognition of Gary Marsden’s contributions and inspiration in HCI4D. The purpose is to support growth of HCI in developing worlds by sponsoring SIGCHI student members who are postgraduate students from and currently based in developing countries to attend HCI relevant conferences or SIGCHI (co)sponsored summer/winter schools. The next deadline is on the 15th of May.</p>
            </div>
    </div>
</section>
<!-- End Venue Section -->
