<!-- Venue Section -->
<style>
highlight {
    background-color: #fefbd8;
}
</style>

<section id="student-support">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="col-lg-10 col-lg-offset-1  text-left">

                <h5><b><highlight><font face="Courier" color="blue"> UMAP will have over US$31,000 to distribute for student travel from SIGCHI, SIGWEB, NSF and User Modeling, Inc.</font></highlight></b></h5>
                <br/><br/>
                <h6><b></b></h6>
                
                <p><b>The UMAP Student Travel Award Program</b> is intended to help student authors attend UMAP.</p>

                <p>Student Travel Awards are given to authors who are currently students or who were students at the time of submission of their papers.  Preference in awards is given to Doctoral Consortium presenters and to students who are first authors and will present the paper at the conference and whose advisors do not have a current research grant.  Preference is given to PhD students and to underrepresented groups in computer science such as women.</p>

                <p>The size of the award given is based on the funds available, the student’s expected travel expenses minus other sources of support, and the number of applicants.  Up to 90% of expenses except meals may be covered.  Awards are typically larger for authors of full papers and Doctoral Consortium presenters.</p>

                <p>All students receiving support will be requestesd to help with a small organization task during the conference.</p>

                <p>Financial support will be provided via reimbursement of expenses.</p>

                <br/><br/>
                
                <p><b>Funding details:</b> SIGCHI supports students by the SIGCHI Gary Marsden Student Development Fund: <a href="https://sigchi.org/get-involved/funding/gary-marsden-student-development-fund/">https://sigchi.org/get-involved/funding/gary-marsden-student-development-fund/</a>, which is established in recognition of Gary Marsden’s contributions and inspiration in HCI4D. The purpose is to support growth of HCI in developing worlds by sponsoring SIGCHI student members who are postgraduate students from and currently based in developing countries to attend HCI relevant conferences or SIGCHI (co)sponsored summer/winter schools. The next two deadlines are on the 15th of May and August this year.</p>
            </div>
    </div>
</section>
<!-- End Venue Section -->
