<!-- Venue Section -->
<section id="venue">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.venueBlockTitle }}</h3>
            <div class="col-lg-10 col-lg-offset-1  text-left">
                <p>UMAP 2018 will be held at the Nanyang Technological University,
                Singapore, in the north spine where the School of Computer Science
                and Engineering is located. NTU's north spine consists of lecture
                theatres with various capacities, as well as plenty of shops and
                restaurants.</p>

                <p>Singapore is well known as a very beautiful, organized and safe
                city, with plenty of sightseeing, such as Gardens by the Bay,
                Marine Life Park: The World's Largest Oceanarium, Universal
                Studios, Singapore Zoo, Singapore Botanical Gardens, Singapore
                Flyer, Little India, Sentosa, etc.</p>

                <p>Singapore is well connected to the world through its Changi
                Airport. This airport is one of the busiest and best connected in
                the world, handling over 100 airlines flying to some 300 cities.
                The award-winning airport itself is jam-packed with activities and
                amenities, making it a world-class attraction in its own right.</p>


                <p class="post-body">To find ways from the airport, MRT stations, and hotels to the conference venue, please <a href="{{site.baseurl}}/umap-venue-guidance.pdf"  target="_blank">download the guidance here</a>. </p>

                
                <p><br/><b>Buildings, conference halls, and food,and leisure in the campus of Nanyang Technological University:</b></p>
                <figure>
                    <p style="text-align:center;">
                    <img width="80%" src="{{ site.baseurl }}/img/venue/NTU_reduced.jpg"/>
                    </p>
                </figure>
                <br/>

                <p><b>Plenty of sightseeing, beautiful city view, and ideal places for individuals and families to visit in Singapore:</b></p>
                <figure>
                    <p style="text-align:center;">
                    <img width="80%" src="{{ site.baseurl }}/img/venue/Singapore_reduced.jpg"/>
                    </p>
                </figure>
            </div>
    </div>
</section>
<!-- End Venue Section -->
