<!-- Venue Section -->
<style>
highlight {
    background-color: #fefbd8;
}
</style>

<section id="student-support">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="col-lg-10 col-lg-offset-1  text-left">
                
                <p>ACM is able to provide visa support letters to attendees as well as authors with accepted papers, posters, or members of the conference committee.</p>

                <p>For visa support letters, refer all requests to <a href="mailto: supportletters@acm.org" >supportletters@acm.org</a>. ACM suggests posting this address on the conference web-site. Those requesting a letter should allow up to one week to receive it. All requests are handled in the order they are received. The information below should be included with the request.
                <li style="font-size: 115%">Name (as it appears on attendee’s passport) and mailing address</li>
                <li style="font-size: 115%">The name of the conference attendees is registering for</li>
                <li style="font-size: 115%">Attendee’s registration confirmation number</li>
                <li style="font-size: 115%">Authors may indicate their paper title. Speakers can provide the title of their talk.</li>
                <li style="font-size: 115%">Include a fax number or email address of where letter can be sent</li></p>

                <p>If an attendee requests a letter from the organizers (some embassies might require one), please contact your Conference Operations Liaison for a support letter template.</p>

                <p>ACM does not provide letters for transport of vendor or presenter equipment. ACM suggests shipping the materials insured to the conference facility.</p>

            </div>
    </div>
</section>
<!-- End Venue Section -->
